asgiref==3.5.2
distlib==0.3.4
Django==4.0.5
filelock==3.7.1
pbr==5.9.0
platformdirs==2.5.2
six==1.16.0
sqlparse==0.4.2
stevedore==3.5.0
tzdata==2022.1
virtualenv==20.14.1
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
virtualenvwrapper-win==1.2.7
