{% extends 'login/login.html' %}
{% load static %}

{% block titulo %} LoginCliente {% endblock %} 
{% load crispy_forms_tags %}


{% block conteudo %}

<html>
<div class="col-lg-6 d-none d-lg-block" style="background-image: url(staticfiles/img/logo_gradiente_teste_1_600x800.png);
                                                                           background-size: 100% 100%;" ></div>
<form action= "" method="POST">
    {% csrf_token %}
    {% load crispy_forms_tags %}
<!-- form variable -->    
{{ form | crispy }} 

<a class="btn btn-warning"  href="{% url 'usuarios:sign-in' %}"  >
  <i class="fas fa-unlock"></i>
  Criar conta
</a>  

    <button type="submit" class="save btn text-white " style="margin-left: 127px; background:#198754;">
      <! MESMA COISA AQUI, NÃO VOU MECHER COM ISSO AGORA.>
      <i class="fas fa-check"></i>
      Entrar
  </button>
 
{% endblock %}

