{% extends 'login.html' %}

{% block titulo %} LoginCliente {% endblock %} 


{% block conteudo %}

<form method="POST">
    {% csrf_token %}
    <div class="bg-white p-4 mt-5 mx-auto rounded" style="width:70%;">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="text-center">
                    <img src="{% static 'img/logo.png' %}" width="70px">
                </div>
                <div>
                    <h4 class="text-center py-4" >
                        Área Restrita
                    </h4>
                </div>
                {% if error_message is not None %}
                    <div class="alert alert-danger">
                        {{error_message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
                <div class="text-center">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <div class="fas fa-user"></div>
                            </span>
                        </div>
                        <input type="email" name="email" id="email-acesso" class="form-control form-control-lg" placeholder="Email"  required>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-key"></i>
                            </span>
                        </div>
                        <input type="password" name="senha" id="senha-acesso" class="form-control form-control-lg" placeholder="Senha" required>
                    </div>
                   <div >                        
                        <button type="submit" class="btn btn-success m-2">
                            <i class="fas fa-sign-in-alt"></i> Entrar
                        </button>    
                        <a href="{% url 'usuario:Cadastrar_Aluno' %}" class="btn btn-primary ">
                            <i class="fas fa-book-reader"></i> Cadastre-se
                        </a>
                   </div>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}