{% extends 'login/login.html' %}
{% load static %}

{% block titulo %} LoginCliente {% endblock %} 
{% load crispy_forms_tags %}


{% block conteudo %}

<html>
<div class="col-lg-6 d-none d-lg-block" style="background-image: url(staticfiles/img/logo_gradiente_teste_1_600x800.png);
                                                                           background-size: 100% 100%;" ></div>
<form action= "" method="POST">
    {% csrf_token %}
    
<!-- form variable -->    
 {{ form.as_p }} 

  <input type="submit" name="sumbit">
</form>
    </body>

</html>

{% endblock %}

